* {
  box-sizing: border-box;
}

/* Base colors */
:root {
  /* Gray */
  --color-gray-100: #f3f4f6;
  --color-gray-800: #1f2937;

  /* Red */
  --color-red-100: #fee2e2;
  --color-red-800: #991b1b;

  /* Yellow */
  --color-yellow-100: #fef3c7;
  --color-yellow-800: #92400e;

  /* Green */
  --color-green-100: #d1fae5;
  --color-green-800: #065f46;

  /* Blue */
  --color-blue-100: #dbeafe;
  --color-blue-800: #1e40af;

  /* Indigo */
  --color-indigo-100: #e0e7ff;
  --color-indigo-800: #3730a3;

  /* Purple */
  --color-purple-100: #f3e8ff;
  --color-purple-800: #6b21a8;

  /* Pink */
  --color-pink-100: #fce7f3;
  --color-pink-800: #9d174d;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* ==========================================
   Display container  
   ========================================== */

.container {
  width: 100%;
  max-width: 768px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
}

h1,
h2,
h3 {
  font-family: "IM Fell DW Pica", serif;
}

/* ==========================================
   Utility Classes   
   ========================================== */
/* light background */
.bg-gray-light {
  background-color: var(--color-gray-100);
}
.bg-red-light {
  background-color: var(--color-red-100);
}
.bg-yellow-light {
  background-color: var(--color-yellow-100);
}
.bg-green-light {
  background-color: var(--color-green-100);
}
.bg-blue-light {
  background-color: var(--color-blue-100);
}
.bg-indigo-light {
  background-color: var(--color-indigo-100);
}
.bg-purple-light {
  background-color: var(--color-purple-100);
}
.bg-pink-light {
  background-color: var(--color-pink-100);
}

/* dark background */
.bg-gray-dark {
  background-color: var(--color-gray-800);
}
.bg-red-dark {
  background-color: var(--color-red-800);
}
.bg-yellow-dark {
  background-color: var(--color-yellow-800);
}
.bg-green-dark {
  background-color: var(--color-green-800);
}
.bg-blue-dark {
  background-color: var(--color-blue-800);
}
.bg-indigo-dark {
  background-color: var(--color-indigo-800);
}
.bg-purple-dark {
  background-color: var(--color-purple-800);
}
.bg-pink-dark {
  background-color: var(--color-pink-800);
}

/* text colors */
.text-gray {
  color: var(--color-gray-800);
}
.text-red {
  color: var(--color-red-800);
}
.text-yellow {
  color: var(--color-yellow-800);
}
.text-green {
  color: var(--color-green-800);
}
.text-blue {
  color: var(--color-blue-800);
}
.text-indigo {
  color: var(--color-indigo-800);
}
.text-purple {
  color: var(--color-purple-800);
}
.text-pink {
  color: var(--color-pink-800);
}

/* ==========================================
   Badge Styles  
   ========================================== */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* shapes */
.square {
  border-radius: 6px;
}

.pill {
  border-radius: 9999px;
}

/* ==========================================
   Banner Styles  
   ========================================== */
.banner {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  text-align: left;
  gap: 10px;
  margin-bottom: 16px;
}

.banner-title-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

/* --- Single line banner style --- */
.banner.single-line {
  align-items: center;
}

/* Single line banner title */
.banner.single-line .banner-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

/* --- Multi line banner style --- */
.banner.multi-line {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
}

/* Multi line banner content */
.banner.multi-line .banner-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
}

.banner.multi-line .banner-description {
  font-size: 0.85rem;
  opacity: 0.9;
}

/* banner icon style */
.banner-icon {
  flex-shrink: 0; /* prevent icon from shrinking */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

/* ==========================================
   Card Styles  
   ========================================== */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 250px;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  gap: 16px;
  background-color: #ffffff;
  box-shadow:
    rgba(103, 106, 109, 0.2) 0px 1px 2px 0px,
    rgba(101, 107, 110, 0.1) 0px 2px 6px 2px;
  transition:
    transform 0.3s ease-out,
    box-shadow 0.3s ease-out;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow:
    rgba(95, 97, 100, 0.2) 0px 5px 10px 0px,
    rgba(69, 73, 77, 0.15) 0px 4px 8px 4px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.card-content {
  font-size: 1rem;
  opacity: 0.9;
}

.card-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
